!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.log
*.log.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Temporary targets; test programs used to find the actual order and alignment
# of struct elements on each platform, as used for various system calls.
/Linux/unpacker/linux-exit-status-test-c
/Linux/unpacker/show_dirent_struct
/Linux/unpacker/show_if_link
/Linux/unpacker/show_ifinfomsg_struct
/Linux/unpacker/show_ip
/Linux/unpacker/show_ipv6
/Linux/unpacker/show_msghdr_struct
/Linux/unpacker/show_stat_struct
/Linux/unpacker/show_statvfs_struct
/Linux/unpacker/show_timex_struct
/Linux/unpacker/show_waitid
/u/show-statfs-m32
/u/show-statfs-m64
/u/show-statfs-mx32
/u/show-statfs64-m32
/u/show-statfs64-m64
/u/show-statfs64-mx32
/u/show-statvfs-m32
/u/show-statvfs-m64
/u/show-statvfs-mx32
